aws_access_key_id: AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
aws_secret_access_key: BBBBBBBBBBBBBBBBBBBBBBBB
keypair_name: change-me-to-your-keypair-name # The keypair that will then be able to ssh into the deployed machine
ssh_private_key_path: path/to/your-key.pem # Where the keypair lives
