[program:{{ name }}]
command={{ exec }}
{% if env is defined %}
environment={{ env }}
{% endif %}
{% if directory is defined %}
directory={{ directory }}
{% endif %}
process_name={{ name }}
numprocs={{ numprocs }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{ logdir }}/{{ name }}.log
stderr_logfile={{ logdir }}/{{ name }}.log
{% if user is defined %}
user={{ user }}
{% endif %}
{% if startretries is defined %}
startretries={{ startretries }}
{% endif %}