#   _   _   _   _   _   _   _   _
#  / \ / \ / \ / \ / \ / \ / \ / \
# ( n | e | w | s | l | y | n | x )
#  \_/ \_/ \_/ \_/ \_/ \_/ \_/ \_/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Secret Stuff

secret_key: {{conf.secret_key}}
app_secret_key: {{conf.app_secret_key}}
super_user: {{conf.super_user}}
super_user_email: {{conf.super_user_email}}
super_user_password: {{conf.super_user_password}}
super_user_apikey: {{conf.super_user_apikey}}

# Filepaths to default recipes + tags to add for each
# new organization.
default_recipes: ~/.newslynx/defaults/recipes.yaml
default_tags: ~/.newslynx/defaults/tags.yaml
sous_chefs_dir: ~/.newslynx/sous-chefs/
{% if conf.default_sous_chefs is defined %}
default_sous_chefs:
{% for sc in conf.default_sous_chefs %}
- {{ sc }}
{% endfor %}
{% endif %}

# API curations #
{% if conf.api_url is defined %}
api_url: {{conf.api_url}}
{% endif %}
{% if conf.api_port is defined %}
api_port: {{conf.api_port}}
{% endif %}
{% if conf.api_version is defined %}
api_version: {{conf.api_version}}
{% endif %}

# database
sqlalchemy_database_uri: "postgres://postgres:{{pg_password}}@localhost:5432/{{pg_name}}"
{% if conf.sqlalchemy_pool_size is defined %}
sqlalchemy_pool_size: {{conf.sqlalchemy_pool_size}}
{% endif %}
{% if conf.sqlalchemy_pool_max_overflow is defined %}
sqlalchemy_pool_max_overflow: {{conf.sqlalchemy_pool_max_overflow}}
{% endif %}
{% if conf.sqlalchemy_pool_timeout is defined %}
sqlalchemy_pool_timeout: {{conf.sqlalchemy_pool_timeout}}
{% endif %}
{% if conf.sqlalchemy_echo is defined %}
sqlalchemy_echo: {{conf.sqlalchemy_echo}}
{% endif %}

# TASK QUEUE
{% if conf.redis_url is defined %}
redis_url: {{conf.redis_url}}
{% endif %}

# url cache
{% if conf.url_cache_prefix is defined %}
url_cache_prefix: {{conf.url_cache_prefix}}
{% endif %}
{% if conf.url_cache_ttl is defined %}
url_cache_ttl: {{conf.url_cache_ttl}}
{% endif %}
{% if conf.url_cache_pool_size is defined %}
url_cache_pool_size: {{conf.url_cache_pool_size}}
{% endif %}

# extraction cache
{% if conf.extract_cache_prefix is defined %}
extract_cache_prefix: {{conf.extract_cache_prefix}}
{% endif %}
{% if conf.extract_cache_ttl is defined %}
extract_cache_ttl: {{conf.extract_cache_ttl}}
{% endif %}

# thumbnail settings
{% if conf.thumnbail_cache_prefix is defined %}
thumnbail_cache_prefix: {{conf.thumnbail_cache_prefix}}
{% endif %}
{% if conf.thumbnail_cache_ttl is defined %}
thumbnail_cache_ttl: {{conf.thumbnail_cache_ttl}}
{% endif %}
{% if conf.thumbnail_size is defined %}
thumbnail_size: {{conf.thumbnail_size}}
{% endif %}
{% if conf.thumbnail_default_format is defined %}
thumbnail_default_format: {{conf.thumbnail_default_format}}
{% endif %}


# comparison cache
{% if conf.comparison_cache_prefix is defined %}
comparison_cache_prefix: {{conf.comparison_cache_prefix}}
{% endif %}
{% if conf.comparison_cache_ttl is defined %}
comparison_cache_ttl: {{conf.comparison_cache_ttl}}
{% endif %}
{% if conf.comparison_percentiles is defined %}
comparison_percentiles: {{conf.comparison_percentiles}}
{% endif %}


# merlynne kwargs prefix
{% if conf.merlynne_kwargs_prefix is defined %}
merlynne_kwargs_prefix: {{conf.merlynne_kwargs_prefix}}
{% endif %}
{% if conf.merlynne_kwargs_ttl is defined %}
merlynne_kwargs_ttl: {{conf.merlynne_kwargs_ttl}}
{% endif %}
{% if conf.merlynne_results_ttl is defined %}
merlynne_results_ttl: {{conf.merlynne_results_ttl}}
{% endif %}

# scheduler
{% if conf.scheduler_refresh_interval is defined %}
scheduler_refresh_interval: {{conf.scheduler_refresh_interval}}
{% endif %}
{% if conf.scheduler_reset_pause_range is defined %}
scheduler_reset_pause_range: {{conf.scheduler_reset_pause_range}}
{% endif %}

# browser
{% if conf.network_user_agent is defined %}
network_user_agent: {{conf.network_user_agent}}
{% endif %}
{% if conf.network_timeout is defined %}
network_timeout: {{conf.network_timeout}}
{% endif %}
{% if conf.network_wait is defined %}
network_wait: {{conf.network_wait}}
{% endif %}
{% if conf.network_backoff is defined %}
network_backoff: {{conf.network_backoff}}
{% endif %}
{% if conf.network_max_retries is defined %}
network_max_retries: {{conf.network_max_retries}}
{% endif %}

{% if conf.pandoc_path is defined %}
# Pandoc
pandoc_path: {{conf.pandoc_path}}
{% endif %}

{% if conf.twitter_api_key is defined %}
# Twitter
twitter_api_key: {{conf.twitter_api_key}}
{% endif %}
{% if conf.twitter_api_secret is defined %}
twitter_api_secret: {{conf.twitter_api_secret}}
{% endif %}

{% if conf.google_analytics_client_id is defined %}
# Google Analytics
google_analytics_client_id: {{conf.google_analytics_client_id}}
{% endif %}
{% if conf.google_analytics_client_id is defined %}
google_analytics_client_secret: {{conf.google_analytics_client_secret}}
{% endif %}

{% if conf.facebook_app_id is defined %}
# Facebook
facebook_app_id: {{conf.facebook_app_id}}
{% endif %}
{% if conf.facebook_app_secret is defined %}
facebook_app_secret: {{conf.facebook_app_secret}}
{% endif %}

{% if conf.bitly_access_token is defined %}
# Bitly
bitly_access_token: {{conf.bitly_access_token}}
{% endif %}

{% if conf.bitly_access_token is defined %}
# Embedly
embedly_access_token: {{conf.embedly_access_token}}
{% endif %}

{% if conf.mail_username is defined %}
# Email
mail_username: {{conf.mail_username}}
{% endif %}
{% if conf.mail_password is defined %}
mail_password: {{conf.mail_password}}
{% endif %}
{% if conf.mail_server is defined %}
mail_server: {{conf.mail_server}}
{% endif %}
{% if conf.smtp_port is defined %}
smtp_port: {{conf.smtp_port}}
{% endif %}
{% if conf.imap_port is defined %}
imap_port: {{conf.imap_port}}
{% endif %}

# reddit
{% if conf.reddit is defined %}
reddit_user_agent: {{conf.reddit}}
{% endif %}
