#   _   _   _   _   _   _   _   _
#  / \ / \ / \ / \ / \ / \ / \ / \
# ( n | e | w | s | l | y | n | x )
#  \_/ \_/ \_/ \_/ \_/ \_/ \_/ \_/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Secret Stuff

secret_key: {{conf.secret_key}}
super_user: {{conf.super_user}}
super_user_email: {{conf.super_user_email}}
super_user_password: {{conf.super_user_password}}
super_user_apikey: {{conf.super_user_apikey}}

# App Stuf 
newslynx_app_secret_key: {{conf.newslynx_app_secret_key}}
https: {{conf.https}}

# Filepaths to default recipes + tags to add for each
# new organization.
default_recipes: ~/.newslynx/defaults/recipes.yaml
default_tags: ~/.newslynx/defaults/tags.yaml
default_sous_chefs: ~/.newslynx/sous-chefs

# default api configurations. 
# you shouldn't need to touch these for automation.
api_url: "http://localhost:5000"
api_port: 5000
api_version: v1

# Database curations
sqlalchemy_database_uri: "postgres://postgres:{{pg_password}}@localhost:5432/{{pg_name}}"
sqlalchemy_pool_size: 100
sqlalchemy_pool_max_overflow: 100
sqlalchemy_pool_timeout: 60
sqlalchemy_echo: false

# TASK QUEUE
redis_url: "redis://localhost:6379/0"

# url cache
url_cache_prefix: "newslynx-url-cache"
url_cache_ttl: 1209600
url_cache_pool_size: 5

# extraction cache
extract_cache_prefix: "newslynx-extract-cache"
extract_cache_ttl: 259200  # 3 days

# thumbnail settings
thumbnail_cache_prefix: "newslynx-thumbnail-cache"
thumbnail_cache_ttl: 1209600  # 14 days
thumbnail_size: [150, 150]
thumbnail_default_format: "png"

# comparison cache
comparison_cache_prefix: "newslynx-comparison-cache"
comparison_cache_ttl: 86400  # 1 day
comparison_percentiles: [2.5, 5.0, 10.0, 25.0, 75.0, 90.0, 95.0, 97.5]

# merlynne kwargs prefix
merlynne_kwargs_prefix: "newslynx-merlynne-kwargs"
merlynne_kwargs_ttl: 60
merlynne_results_ttl: 60

# scheduler
scheduler_refresh_interval: 45
scheduler_reset_pause_range: [20, 200]

# browser
browser_user_agent: "mozilla/5.0 (macintosh; intel mac os x 10_10; rv:33.0) gecko/20100101 firefox/33.0"
browser_timeout: (7, 27)
browser_wait: 0.8
browser_backoff: 2
browser_max_retries: 2

{% if conf.pandoc_path is defined %}
# Pandoc
pandoc_path: {{conf.pandoc_path}}
{% endif %}

{% if conf.twitter_api_key is defined %}
# Twitter
twitter_api_key: {{conf.twitter_api_key}}
{% endif %}
{% if conf.twitter_api_secret is defined %}
twitter_api_secret: {{conf.twitter_api_secret}}
{% endif %}

{% if conf.google_analytics_client_id is defined %}
# Google Analytics
google_analytics_client_id: {{conf.google_analytics_client_id}}
{% endif %}
{% if conf.google_analytics_client_id is defined %}
google_analytics_client_secret: {{conf.google_analytics_client_secret}}
{% endif %}

{% if conf.facebook_app_id is defined %}
# Facebook
facebook_app_id: {{conf.facebook_app_id}}
{% endif %}
{% if conf.facebook_app_secret is defined %}
facebook_app_secret: {{conf.facebook_app_secret}}
{% endif %}

{% if conf.bitly_access_token is defined %}
# Bitly
bitly_access_token: {{conf.bitly_access_token}}
{% endif %}

{% if conf.bitly_access_token is defined %}
# Embedly
embedly_access_token: {{conf.embedly_access_token}}
{% endif %}

{% if conf.mail_username is defined %}
# Email
mail_username: {{conf.mail_username}}
{% endif %}
{% if conf.mail_password is defined %}
mail_password: {{conf.mail_password}}
{% endif %}
{% if conf.mail_server is defined %}
mail_server: {{conf.mail_server}}
{% endif %}
{% if conf.smtp_port is defined %}
mail_smtp_port: {{conf.mail_smtp_port}}
{% endif %}
{% if conf.imap_port is defined %}
mail_imap_port: {{conf.mail_imap_port}}
{% endif %}

# reddit
{% if conf.reddit is defined %}
reddit_user_agent: {{conf.reddit_user_agent}}
{% endif %}
